@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 222 8.3% 13.5%; /* rgb(30, 31, 34) */
    --foreground: 210 40% 98%;
    --card: 222 8.3% 13.5%;
    --card-foreground: 210 40% 98%;
    --popover: 222 8.3% 13.5%;
    --popover-foreground: 210 40% 98%;
    --primary: 235 85.6% 65.1%; /* rgb(88, 101, 242) */
    --primary-foreground: 210 40% 98%;
    --secondary: 220 9.3% 16.5%; /* rgb(43, 45, 49) */
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 235 85.6% 65.1%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 8.3% 13.5%;
    --foreground: 210 40% 98%;
    --card: 222 8.3% 13.5%;
    --card-foreground: 210 40% 98%;
    --popover: 222 8.3% 13.5%;
    --popover-foreground: 210 40% 98%;
    --primary: 235 85.6% 65.1%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 9.3% 16.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 235 85.6% 65.1%;
  }
  * {
    @apply border-border;
  }
  html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Inter', sans-serif;
  }
}